<style>
  h2 {
    color: white;
    background: #555;
    padding: 6px;
    text-align: center;
  }
  .price {
    color: gray;
    border: solid 1px gray;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    width: "400px";
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

<h2><%= @place.title %></h2>

<p>
  <span class="price">Admission price <%= @place.admission_price %></span>
  </p>
  <%= link_to "edit", "/places/#{@place.id}/edit" %>

<%= image_tag @place.photo_url %>

<h4>Description: <%= @place.description %></h4>

<p><%= @place.title %></p>
